*pyc
env
dist
vdm.egg-info
# TODO Choose between both 
# script.php generating booking at the root of main folder 
# script.php generating booking in folder generate_booking
jsons
lib 
generate_booking/json
generate_booking/lib

watcher/processed
watcher/failed
# use Flexmonster ? 
vdm_project/pivot-mongo/*

# ignore sqllite3
vdm_project/db.sqlite3


vdm_error.log
mail.txt
