{% extends "layout.html" %}
{% load static %}

{% block title %}
	Liste Booking - {{ block.super }}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<!-- DataTables -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
	<!-- <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script> -->
<!-- 	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript">></script>
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}"/> -->

	<link data-require="datatables@*" data-semver="1.10.21" rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
	<link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
	<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
	<link data-require="datatables@*" data-semver="1.10.21" rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" />
   
	<script data-require="jquery" data-semver="3.5.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script data-require="datatables@*" data-semver="1.10.21" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


	<script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}" type="text/javascript">></script>
	<script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}" type="text/javascript">></script>
	<script src="{% static 'plugins/datatables/buttons.html5.min.js' %}" type="text/javascript">></script>


	<script type="text/javascript">

	/*************************************************/
	/************      Format Number      ************/
	/*************************************************/
	function numberFormatMoney(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " €";
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K €";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M €";
		}
	}

	function numberFormat(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat;
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M";
		}
	}

	function numberFormatInt(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(0);
			numberFormat = number.replace('.', ',');
			return numberFormat;
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M";
		}
	}

	/*************************************************/
	/************  Api call get Data KPI  ************/
	/*************************************************/
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "http://127.0.0.1:5000/kpiBookingList/",
			dataType: "json",
			cache: true,
			success: function(data) {
				// console.log(data);
				total_amount = 0;
				nb_spectateur = 0;
				nb_resa = 0;
				for (const line in data) {
					total_amount += data[line].TotalPrice;
					nb_spectateur += data[line].NbSpectateur;
					nb_resa += 1
				}
				avg_price_resa = (total_amount/nb_resa);
				avg_spec = (nb_spectateur/nb_resa);
				avg_price = (total_amount/nb_spectateur);
				$("#total_amount").text(numberFormatMoney(total_amount));
				$("#nb_resa").text(numberFormatInt(nb_resa));
				$("#avg_price_resa").text(numberFormatMoney(avg_price_resa));
				$("#nb_spectateur").text(numberFormatInt(nb_spectateur));
				$("#avg_spec").text(numberFormat(avg_spec));
				$("#avg_price").text(numberFormatMoney(avg_price));
				// console.log(avg_price);

			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

	$(document).ready(function() {
		setInterval(function getData() {
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/kpiBookingList/",
				dataType: "json",
				cache: true,
				success: function(data) {
					total_amount = 0;
					nb_spectateur = 0;
					nb_resa = 0;
					for (const line in data) {
						total_amount += data[line].TotalPrice;
						nb_spectateur += data[line].NbSpectateur;
						nb_resa += 1
					}
					avg_price_resa = (total_amount/nb_resa);
					avg_spec = (nb_spectateur/nb_resa);
					avg_price = (total_amount/nb_spectateur);
					$("#total_amount").text(numberFormatMoney(total_amount));
					$("#nb_resa").text(numberFormatInt(nb_resa));
					$("#avg_price_resa").text(numberFormatMoney(avg_price_resa));
					$("#nb_spectateur").text(numberFormatInt(nb_spectateur));
					$("#avg_spec").text(numberFormat(avg_spec));
					$("#avg_price").text(numberFormatMoney(avg_price));
				},
				error: function(xhr, textStatus) {
					console.log("error..");
				}
			});
		}, 2000);
	});



	/* CA Days */
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "http://127.0.0.1:5000/caDays/",
			dataType: "json",
			cache: true,
			success: function(data) {
				console.log("CA Days");
				console.log(data);
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

	/* CA per theme */
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "http://127.0.0.1:5000/caThemeDays/",
			dataType: "json",
			cache: true,
			success: function(data) {
				console.log("CA Theme per days");
				console.log(data);
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});


	</script>

{% endblock %}

{% block platform_body %}

	{% load custom_filters %}

	<!-- Start content -->
	<div class="content">

		<!-- Start Container -->
		<div class="container-fluid">

			<!-- Start row -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Liste des réservations</h4>
						<ol class="breadcrumb p-0 m-0">
							<li class="breadcrumb-item">
								<a href="#">Plateforme VDM Escape Game</a>
							</li>
							<li class="breadcrumb-item active">
								Liste des réservations
							</li>
						</ol>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- End row -->


			<div>
				<!-- Start Row -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box">
							<h4 class="page-title text-center">Indicateurs de Performance du {% now "d/m/Y" %}</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-primary">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="CA Cumulé">CA Cumulé</p>
								<h3 id="total_amount"><!-- {{ kpi.total_amount }} --></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-warning">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Réservation">Nb Réservations</p>
								<h3 id="nb_resa"><!-- {{ kpi.nb_resa }} --></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Prix de vente moyen d'une réservations">Prix par Réservation</p>
								<h3 id="avg_price_resa"><!-- 30 --></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-light">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Spectateurs">Nb de Spectateurs</p>
								<h3 id="nb_spectateur"><!-- {{ kpi.nb_spectateur }} --></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Spectateurs par Réservations">Spectateurs / Réservations</p>
								<h3 id="avg_spec"><!-- 4 --></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Prix de vente moyen d'un spectateur">Prix par Spectateur</p>
								<h3 id="avg_price"><!-- 7.5 € --></h3>
							</div>
						</div>
					</div>
				</div>
				<!-- Row End -->
			</div>
			


		</div> 
		<!-- container-fluid End -->

	</div> 
	<!-- content End -->

{% endblock %}