{% extends "layout.html" %}
{% load static %}

{% block title %}
	Détails Salles - {{ block.super }}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<script data-require="jquery" data-semver="3.5.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />  

	<script type="text/javascript">

	/*************************************************/
	/************      Format Number      ************/
	/*************************************************/
	function numberFormatMoney(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " €";
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K €";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M €";
		}
	}

	function numberFormat(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat;
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M";
		}
	}

	function numberFormatInt(float) {
		let number;
		let numberFormat;
		if (float < 1000) {
			number = Number.parseFloat(float).toFixed(0);
			numberFormat = number.replace('.', ',');
			return numberFormat;
		} else if (float < 1000000) {
			float = float / 1000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " K";
		} else if (float < 1000000000) {
			float = float / 1000000;
			number = Number.parseFloat(float).toFixed(2);
			numberFormat = number.replace('.', ',');
			return numberFormat + " M";
		}
	}

	/*************************************************/
	/************  Api call get Data KPI  ************/
	/*************************************************/
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "http://vdm.0day.cool:5000/kpi/",
			dataType: "json",
			cache: true,
			success: function(data) {
				total_amount = 0;
				nb_spectateur = 0;
				nb_resa = 0;
				for (const line in data) {
					total_amount += data[line].TotalPrice;
					nb_spectateur += data[line].NbSpectateur;
					nb_resa += 1
				}
				avg_price_resa = (total_amount/nb_resa);
				avg_spec = (nb_spectateur/nb_resa);
				avg_price = (total_amount/nb_spectateur);
				$("#total_amount").text(numberFormatMoney(total_amount));
				$("#nb_resa").text(numberFormatInt(nb_resa));
				$("#avg_price_resa").text(numberFormatMoney(avg_price_resa));
				$("#nb_spectateur").text(numberFormatInt(nb_spectateur));
				$("#avg_spec").text(numberFormat(avg_spec));
				$("#avg_price").text(numberFormatMoney(avg_price));
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

	</script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
	/*************************************************/
	/*********  Api call get Data to Chart  **********/
	/*************************************************/

	google.charts.load('current', {'packages':['corechart']});
	google.charts.load('current', {'packages':['sankey']});

	/* CA per rooms per days */
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "/api/get_CA_Rooms_Days",
			dataType: "json",
			cache: true,
			success: function(dataCaRoomsDays) {

				google.charts.setOnLoadCallback(drawChart);

				function drawChart() {
					// Draw Chart CA per rooms and days
					var data = google.visualization.arrayToDataTable(dataCaRoomsDays);

					var options = {
						title: 'CA journalier',
						legend: {position: 'top', maxLines: 3},
						vAxis: { format:'short'},
						animation: {
							duration: 1000,
							easing: 'out',
							"startup": true
						}
					};

			        var chart = new google.visualization.ColumnChart(document.getElementById('chart_caRoomDays'));
			        chart.draw(data, options);
				}
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

	/* CAD per rooms */
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "/api/get_CA_Rooms",
			dataType: "json",
			cache: true,
			success: function(dataCaRoomsDays) {

				google.charts.setOnLoadCallback(drawChart);

				function drawChart() {
					// Draw Chart CA per rooms and days
					var data = google.visualization.arrayToDataTable(dataCaRoomsDays);

					var options = {
						title: 'CAD par Salles',
						legend: {position: 'top', maxLines: 3}
					};

			        var chart = new google.visualization.PieChart(document.getElementById('chart_cadRooms'));
			        chart.draw(data, options);
				}
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

	/* Spectator per rooms */
	$(document).ready(function() {
		$.ajax({
			type: "GET",
			url: "/api/get_Spect_Rooms",
			dataType: "json",
			cache: true,
			success: function(dataSpectRoomsDays) {

				google.charts.setOnLoadCallback(drawChart);

				function drawChart() {
					// Draw Chart CA per rooms and days
					var data = google.visualization.arrayToDataTable(dataSpectRoomsDays);

					var options = {
						title: 'Nombre de spectateurs par Salles',
						legend: {position: 'top', maxLines: 3}
					};

			        var chart = new google.visualization.PieChart(document.getElementById('chart_spectRooms'));
			        chart.draw(data, options);
				}
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	});

    </script>

{% endblock %}

{% block platform_body %}

	{% load custom_filters %}

	<!-- Start content -->
	<div class="content">

		<!-- Start Container -->
		<div class="container-fluid">

			<!-- Start row -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Détails Salles</h4>
						<ol class="breadcrumb p-0 m-0">
							<li class="breadcrumb-item">
								<a href="{% url 'homepage' %}">Plateforme VDM Escape Game</a>
							</li>
							<li class="breadcrumb-item active">
								Détails Salles
							</li>
						</ol>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- End row -->


			<div id="ChartCAdays" data="12"/>
			<div>
				<!-- Start Row -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box">
							<h4 class="page-title text-center">Indicateurs de Performance du ***DATE HERE***</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-primary">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="CA Cumulé">CA Cumulé</p>
								<h3 id="total_amount"></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-warning">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Réservation">Nb Réservations</p>
								<h3 id="nb_resa"></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Prix de vente moyen d'une réservations">Prix par Réservation</p>
								<h3 id="avg_price_resa"></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-light">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Spectateurs">Nb de Spectateurs</p>
								<h3 id="nb_spectateur"></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Nombre de Spectateurs par Réservations">Spectateurs / Réservations</p>
								<h3 id="avg_spec"></h3>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-4 col-sm-6">
						<div class="card-box widget-box-two widget-two-info">
							<div class="wigdet-two-content">
								<p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Prix de vente moyen d'un spectateur">Prix par Spectateur</p>
								<h3 id="avg_price"></h3>
							</div>
						</div>
					</div>
				</div>
				<!-- Row End -->
			</div>

			<!-- Start Row -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4><u>CA Total journalier par Salles & Répartition du CAD par Salles & Nombre de spectateurs par Salles</u></h4>
					</div>
				</div>
			</div>
			<!-- Row End -->
			
			<!-- Start Row -->
			<div class="row">
				<div id="chart_caRoomDays" style="min-height: 800px; width: 65%"></div>
				<div style="border-left: 1px solid blue; min-height: 350px; margin-left: 10px; margin-right: 10px"></div>
				<div class="col">
					<div id="chart_cadRooms" style="min-height: 400px; width: 100%"></div>
					<div id="chart_spectRooms" style="min-height: 400px; width: 100%"></div>
				</div>
			</div>
			<!-- Row End -->

		</div> 
		<!-- container-fluid End -->

	</div> 
	<!-- content End -->

{% endblock %}