{% extends "layout.html" %}
{% load static %}

{% block title %}
	Liste Booking - {{ block.super }}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<!-- DataTables -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
	<!-- <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script> -->
<!-- 	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript">></script>
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}"/> -->

	<!-- <link data-require="datatables@*" data-semver="1.10.21" rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" /> -->
	<!-- <link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" /> -->
	
	<!-- <link data-require="datatables@*" data-semver="1.10.21" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" /> -->
   
	<script data-require="jquery" data-semver="3.5.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script data-require="datatables@*" data-semver="1.10.21" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


	<script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'plugins/datatables/buttons.html5.min.js' %}" type="text/javascript"></script>


{% endblock %}

{% block platform_body %}

	{% load custom_filters %}

	<!-- Start content -->
	<div class="content">

		<!-- Start Container -->
		<div class="container-fluid">

			<!-- Start row -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Détail Clients</h4>
						<ol class="breadcrumb p-0 m-0">
							<li class="breadcrumb-item">
								<a href="{% url 'homepage' %}">Plateforme VDM Escape Game</a>
							</li>
							<li class="breadcrumb-item active">
								Détail Clients
							</li>
						</ol>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- End row -->




		</div> 
		<!-- container-fluid End -->

	</div> 
	<!-- content End -->

{% endblock %}