
$custom: #7fc1fc;


// Color variables

$white: #ffffff;

$default: #dae6ec;
$primary: #188ae2;
$success: #4bd396;
$info: #3ac9d6;
$warning: #f9c851;
$danger: #f5707a;
$purple: #6b5fb5;
$pink: #F06292;
$inverse: #3b3e47;
$orange: #ff9800;
$brown: #8d6e63;
$teal: #26a69a;
$muted: #98a6ad;
$light: #eeeeee;
$dark: #313a46;

// Gray Colors
$gray-100: #f9f9f9;
$gray-200: #f3f3f3;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #797979;
$gray-600: #777777;
$gray-700: #495057;
$gray-800: #333333;
$gray-900: #212529;


//Background left-sidebar
$bg-leftbar: #36404e;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

// Font size

$base-font: 14px;

//Font variables
$font-primary: 'Sarabun', sans-serif;
$font-secondary: 'Sarabun', sans-serif;