{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}VDM Escape Game{% endblock %}
        </title>

        {% block stylesheets %}

            <!-- Table Responsive css -->
            <link rel="stylesheet" type="text/css" href="{% static 'plugins/responsive-table/css/rwd-table.min.css' %}" media="screen">

            <!-- App css -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
            <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />
            <!-- <link rel="stylesheet" type="text/css" href="/css/icons.css" /> -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}" />
            <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
            <link rel="stylesheet" type="text/css" href="{% static 'plugins/switchery/switchery.min.css' %}" />
            <!-- <link rel="stylesheet" href="/plugins/switchery/switchery.min.css"> -->

            <!-- App js -->
            <script src="{% static 'js/modernizr.min.js' %}"></script>
            <!-- <script src="/js/modernizr.min.js"></script> -->

            <!-- App Data Table css/js/jquery -->
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> 
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src='https://code.jquery.com/jquery-3.1.0.js'></script>
        {% endblock %}
    </head>

    {% block body %}

        {% block connectLink_body %}
        {% endblock %}

    {% endblock %}

    {% block javascripts %}

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- <script src="/js/jquery.min.js"></script> -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- <script src="/js/bootstrap.bundle.min.js"></script> -->
        <script src="{% static 'js/detect.js' %}"></script>
        <!-- <script src="/js/detect.js"></script> -->
        <script src="{% static 'js/fastclick.js' %}"></script>
        <!-- <script src="/js/fastclick.js"></script> -->
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <!-- <script src="/js/jquery.blockUI.js"></script> -->
        <script src="{% static 'js/waves.js' %}"></script>
        <!-- <script src="/js/waves.js"></script> -->
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <!-- <script src="/js/jquery.slimscroll.js"></script> -->
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <!-- <script src="/js/jquery.scrollTo.min.js"></script> -->
        <script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>
        <!-- <script src="/plugins/switchery/switchery.min.js"></script> -->

        <!-- responsive-table-->
        <script src="{% static 'plugins/responsive-table/js/rwd-table.min.js' %}"></script>
        <!-- <script src="/plugins/responsive-table/js/rwd-table.min.js"></script> -->
        
        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <!-- <script src="/js/jquery.core.js"></script> -->
        <script src="{% static 'js/jquery.app.js' %}"></script>
        <!-- <script src="/js/jquery.app.js"></script> -->

    {% endblock %}

</html>
