{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <title>Reporting System</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block head_script %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Reporting System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="topbar-menu" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'booking_list' %}">Liste des Réservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_report' %}">Report Builder VDM</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" disabled>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Chercher un rapport</button>
            </form>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>

    <script type="text/javascript">
        
        // === following js will activate the menu in left side bar based on url ====
        $(document).ready(function() {
            $("#topbar-menu a").each(function() {
              var pageUrl = window.location.href.split(/[?#]/)[0];
              if (this.href == pageUrl) { 
                    $(this).addClass("active");
                    $(this).parent().addClass("active"); // add active to li of the current link
                    $(this).parent().parent().prev().addClass("active"); // add active class to an anchor
                    $(this).parent().parent().prev().click(); // click the item to make it drop
                }
            });
        });

    </script>

</html>