{% extends "base.html" %}

{% block head_script %}
	<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">    

		// (function($)
		// {
		//     $(document).ready(function()
		//     {
		//         $.ajaxSetup(
		//         {
		//             cache: true,
		//             beforeSend: function() {
		//                 $('#content').show();
		//                 // $('#loading').show();
		//             },
		//             complete: function() {
		//                 $('#content').show();
		//                 // $('#loading').hide();
		//             },
		//             success: function(data) {
		//                 $('#content').show();
		//                 // $('#loading').hide();
		//                 data_json = JSON.parse(data)
		//                 console.log(data_json); 
		//             }
		//         });
		//         var $container = $("#content");
		//         $container.load("http://127.0.0.1:5000/reservations/");
		//         var refreshId = setInterval(function()
		//         {
		//             $container.load("http://127.0.0.1:5000/reservations/");
		//         }, 15000);
		//     });
		// })(jQuery);

	function numberFormatMoney(float) {
		let number = Number.parseFloat(float).toFixed(2);
		let money = number.replace('.', ',');
		return money + " €"; 
	}

	function generateTable(table, data) {
		// console.log(data)
		console.log(data[0]);
		for (let element of data) {
			let row = table.insertRow();
			for (key in element.Acheteur) {
				if (key == "Nom" || key == "Prenom") {
					let cell = row.insertCell();
					let text = document.createTextNode(element.Acheteur[key]);
					cell.appendChild(text);
				}
			}
			let cell = row.insertCell();
			let text = document.createTextNode((element.Reservation).length);
			cell.appendChild(text);

			cell = row.insertCell();
			text = document.createTextNode(element.Game["Nom"]);
			cell.appendChild(text);

			cell = row.insertCell();
			let arrayDate = (element.Game["Jour"]).split('-');
			let date = (arrayDate[2] + "/" + arrayDate[1] + "/" + arrayDate[0]);
			text = document.createTextNode(date);
			cell.appendChild(text);

			let price = 0;
			for (key in element.Reservation) {
				price += element.Reservation[key].prix;
			}
			cell = row.insertCell();
			text = document.createTextNode(numberFormatMoney(price));
			cell.appendChild(text);
		}
	}

	setInterval(function getData() {
		$.ajax({
			type: "GET",
			url: "http://127.0.0.1:5000/reservations/",
			dataType: "json",
			cache: true,
			success: function(data) {
				let tbody = document.querySelector("tbody");

				while (tbody.firstChild) {
					tbody.removeChild(tbody.firstChild);
				}
				generateTable(tbody, data);
			},
			error: function(xhr, textStatus) {
				console.log("error..");
			}
		});
	}, 1000);

	</script>

{% endblock %}

{% block content %}

{% load custom_filters %}



	<div>
		<h1>List Booking</h1>
	</div>

<!-- 	<div id="wrapper">
		<div id="content"></div>
		<img src="loading.gif" id="loading" alt="loading" style="display:none;" />
	</div> -->

	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">nombre de participants</th>
				<th scope="col">Thème Sélectionné</th>
				<th scope="col">Date de la réservation</th>
				<th scope="col">Montant total réservation</th>
			</tr>
		</thead>
		<tbody>
			{% for booking in bookings %}
				<tr>
					<td>{{ booking.Acheteur.Nom }}</td>
					<td>{{ booking.Acheteur.Prenom }}</td>
					<td>{{ booking.Reservation|length }}</td>
					<td>{{ booking.Game.Nom }}</td>
					<td>{{ booking.Game.Jour|string_to_date:'%Y-%m-%d' }}</td>
					<td>
						{{ booking.total_prix }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}